$breakpoint-tablet: 768px;
$breakpoint-small-pc: 992px;
$breakpoint-large-pc: 1200px;

// Section One Gradient
$color-main: #010e1b;

$color-primary: #030d19;
$color-light: #fff;

$footer-image-radius: 30px;
