* {
	padding: 0;
	border: 0;
	margin: 0;
}
.container {
	position: relative;
}
html,
body {
	overflow-x: none;
	background-color: $color-less-dark;
	color: white;
	z-index: -1000;
}
.layout {
	margin-top: $header-height;
	font-family: 'Montserrat';
	position: relative;
	&-sec {
		@include flexcenter;
		position: relative;
		height: calc(100vh - #{$header-height});
		width: 100%;
	}
}
.s1 {
	display: block;
	position: relative;
	text-align: center;
	&-info {
		position: absolute;
		top: 2rem;
		z-index: 300;
		left: 2rem;
		&-title {
			line-height: 1em;
			font-family: "Quatro sans";
			font-size: 7rem;
			text-transform: uppercase;
			display: block;
		}
		&-date {
			line-height: 1em;
			font-size: 3rem;

			display: block;
		}
		&-place {
			line-height: 1em;
			font-size: 3rem;
			display: block;
		}
	}
	&-slogan {
		text-transform: uppercase;
		position: absolute;
		z-index: 300;
		bottom: 1rem;
		left: 0;
		width: 100%;
		font-size: 3rem;
	}
}
.s2 {
	// background-image: linear-gradient($dark-back, darken(#57aef1, 1), #57aef1, #57aef1);
	background-color: darken($color: #57aef1, $amount: 10);
	&__con {
		z-index: 10;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 1rem;
		height: 25rem;
		min-height: fit-content;
		width: 80%;
		color: white;
		&-text {
			padding: 0.25rem;
			flex: 1 0 250px;
			&--title {
				width: 80%;
				font-size: $heading_size;
				line-height: 1em;
				display: block;
				text-transform: uppercase;
			}
			&--body {
				font-size: 1.75rem;
				text-align: justify;
				line-height: 1em;
				display: block;
			}
		}
		&-gallery {
			background-image: url("images/thumbnail.png");
			flex: 1 0 250px;
			min-height: 100%;
		}
	}
	// &-closer {
	// 	width: 50vw;
	// 	height: calc(100% + 200vh);
	// 	background-color: $blue;
	// 	position: absolute;
	// 	z-index: 0;
	// 	bottom: 0;
	// 	transform-origin: right bottom;
	// 	$s2-rotate: 25deg;
	// 	&-R {
	// 		left: 50%;
	// 		transform-origin: left bottom;
	// 		transform: rotate($s2-rotate);
	// 	}
	// 	&-L {
	// 		right: 50%;
	// 		transform: rotate(-$s2-rotate);
	// 	}
	// }
}
.s3 {
	width: 100%;
	background-color: white;
	color: black;
	&__con {
		padding-bottom: 1rem;
		display: inline-block;
		width: 80%;
		&-title {
			text-transform: uppercase;
			font-size: $heading_size;
			display: block;
		}
		&-body {
			width: 70%;
			margin: 0 auto;
			display: block;
		}
	}
}
.s4 {
	background-color: white;
	&__con {
		background-color: #1235;
		width: 70%;
		text-align: center;
		@include sec-background-color;
	}
}
.s5 {
	background-color: white;
	&__con {
		@include sec-background-color;
		width: 70%;
		padding: 2rem;
		&-title {
			text-align: center;
			display: block;
			font-size: $heading_size;
		}
		&-list {
			padding: 0 10rem;
			list-style: none;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			&--item {
				height: fit-content;
				display: block;
				margin: auto 2rem;
			}
			&--img {
				object-fit: contain;
			}

			.sponsor-bg {
				max-height: 7rem;
			}
			.sponsor-md {
				max-height: 4rem;
			}
			.sponsor-sm {
				max-height: 2em;
			}
		}
	}
}
.s6 {
	background-color: white;
}
.s7 {
	background-color: white;
}
/**/
