.footer {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}
footer .nav {
	justify-content: flex-end;
	display: flex;

	display: block;
	flex: 2 auto;
}
footer .logo {
	flex: 1 auto;
}
footer.container {
	display: flex;
	flex-direction: row;
}
.copy a {
	color: #000;
	text-decoration: none;
}
