.body {
	width: 100vw;
}
.sec {
	&-light {
		color: $color-main;
		background-color: #fff;
	}
	&tion {
		min-height: 100vh;
		position: relative;
		color: #fff;
		transition: background .3s;
		&-body {
			@include container-mixin;
		}
		&-background {
			background-color: $color-primary;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -200;
		}
	}
	&-1 {
		z-index: 1;
	}
	&-2 {
		z-index: 200;
		position: relative;
		&-body {
			display: flex;
			height: 100vh;
			justify-content: center;
			align-items: center;
			@include container-mixin;
		}
		&-background {
		}
	}
	&-3 {
		z-index: 5;
		&-rough {
			width: 100vw;
			height: 100vh;
		}
	}
	&-4 {
		z-index: 4;
	}
	&-5 {
		z-index: 5;
		transition: color .25s;
		&-body {
			padding: 15rem 0;
			font-size: 2rem;
			height: fit-content;
		}
		&-background {
			background-color: $color-main;
			transition: background .25s;
		}
	}
	&-6 {
		z-index: 6;
		padding-bottom: 33.84vw;
		&-background {
			background-color: $color-light;
		}
	}
	&-7 {
		min-height: auto;
		z-index: 7;
	}
}

html,
body {
	overflow-x: hidden;
}
body {
	position: relative;
}
