.intro {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	width: 100%;
	padding-top: 10vh;
	&-bg {
		&-1 {
			background-image: radial-gradient(ellipse at bottom center, #072654, $color-primary);
		}
		&-2 {
			background-image: radial-gradient(ellipse at bottom center, #05e3e230, transparent);
		}
	}
	&-img {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		width: 180%;
		height: auto;
		@media (min-width: 600px) {
			height: 150%;
			width: auto;
			bottom: 0;
		}
		@media (min-width: $breakpoint-small-pc) {
		}
		@media (min-width: $breakpoint-large-pc) {
		}
		&-background {
			z-index: 0;

			@media (min-width: $breakpoint-tablet) {
			}
			@media (min-width: $breakpoint-small-pc) {
			}
			@media (min-width: $breakpoint-large-pc) {
			}
		}
		&-1 {
			z-index: 5;
			transform: translateX(-60%);
		}
		&-2 {
			z-index: 25;
			@media (min-width: $breakpoint-tablet) {
			}
			@media (min-width: $breakpoint-small-pc) {
			}
			@media (min-width: $breakpoint-large-pc) {
			}
		}
		&-3 {
			z-index: 10;
			@media (min-width: $breakpoint-tablet) {
			}
			@media (min-width: $breakpoint-small-pc) {
			}
			@media (min-width: $breakpoint-large-pc) {
			}
		}
		&-glare {
			z-index: 27;
			@media (min-width: $breakpoint-tablet) {
			}
			@media (min-width: $breakpoint-small-pc) {
			}
			@media (min-width: $breakpoint-large-pc) {
			}
		}
	}
}

.sec-1-text {
	position: fixed;
	// translateY not 50% as intended
	transform: translateX(50%);
	right: 50%;
	text-align: center;
	z-index: 12;
	width: 100%;
	top: 30%;
	> div {
		line-height: 100%;
	}
	&__title {
		font-family: "Raleway";
		font-weight: 900;
		word-spacing: .5rem;
		letter-spacing: .4rem;
		font-size: 5rem;
		width: auto;
	}
	&__date,
	&__loc {
		font-size: 2rem;
		font-weight: 100;
		font-family: "Montserrat";
	}
	&__date {
	}
	&__loc {
	}
}
