.s3 {
	&-l {
		transition: position 0s, top 0s;
		@include container-mixin;
		position: relative;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		height: 100vh;
		&i {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 90%;
			width: auto;
			@media (min-aspect-ratio: 16/9) {
				width: 100%;
				height: auto;
			}
		}

		&1 {
			z-index: 30;
		}
		&2 {
			z-index: 10;
		}
	}
	&-top {
		position: absolute;
		bottom: 100%;
		height: 10vh;
		width: 100vw;
		left: 0;
		background-color: $color-primary;
		z-index: 200;
	}
	&-title {
		top: 20vh;
		position: absolute;
		visibility: hidden;
		z-index: 15;
		left: 0;
		width: 100%;
		&-text {
			font-family: "Raleway";
			font-size: 3rem;
			line-height: 100%;
			font-weight: 900;
			word-spacing: .5rem;
			letter-spacing: .4rem;
			text-align: center;
		}
	}
	&-body {
		z-index: 15;
		position: absolute;
		top: 35vh;
		font-family: 'Montserrat';
		width: 50%;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		&- {
			opacity: 0;
		}
		&-anim {
			opacity: 1;
			animation: flipInY .75s linear;
		}
	}
}

.s3-fix {
	position: fixed;
	top: 10vh;
	margin: 0;
}
