.s3 {
	&-l {
		@include container-mixin;
		position: relative;
		height: 100vh;
		&i {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 152%;
			height: 90%;
		}

		&1 {
			z-index: 30;
		}
		&2 {
			z-index: 10;
		}
	}
	&-title {
		top: 20vh;
		left: 10vw;
		width: 80vw;
		position: fixed;
		visibility: hidden;
		&-text {
			font-family: "Raleway";
			font-size: 5rem;
			line-height: 100%;
			font-weight: 900;
			word-spacing: .5rem;
			letter-spacing: .4rem;
			text-align: center;
		}
	}
}
