@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Palanquin&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.frame {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #040e1a;
}

.sections {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.sections-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #040e1a;
  z-index: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .sections-body {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .sections-body {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .sections-body {
    width: 1170px;
  }
}

.sections-background {
  background-color: #040e1a;
  z-index: -200;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.s1-body {
  background-color: #040e1a;
}

.s2-body {
  background-color: #040e1a;
}

.s3-body {
  background-color: none;
}

.s4-body {
  background-color: yellow;
}

.s6-body {
  background-color: #040e1a;
}

.intro {
  position: absolute;
  height: 150vh;
  width: unset;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
}

@media (max-aspect-ratio: 10 / 8) {
  .intro {
    left: 40%;
  }
}

@media (max-aspect-ratio: 8 / 8) {
  .intro {
    height: unset;
    width: 300vw;
    left: 30%;
  }
}

@media (max-aspect-ratio: 6 / 8) {
  .intro {
    left: 15%;
    width: 400vw;
  }
}

@media (max-aspect-ratio: 4 / 8) {
  .intro {
    left: 0%;
    width: 500vw;
  }
}

.intro-1.intro {
  width: 100vw;
  height: 100vh;
  left: 50%;
  background-image: radial-gradient(ellipse at bottom center, #072654, #040e1a);
}

.intro-3.intro {
  width: 100vw;
  height: 100vh;
  left: 50%;
  background-image: radial-gradient(ellipse at bottom center, #05e3e230, transparent);
}

.intro-text {
  position: fixed;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 20vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Comfortaa';
}

@media (max-aspect-ratio: 8 / 8) {
  .intro-text {
    top: 18vh;
  }
}

.intro-text-h1 {
  text-transform: uppercase;
  font-size: 8em;
  line-height: 100%;
  font-family: 'Oswald';
  letter-spacing: .3rem;
  font-weight: 300;
  width: 25rem;
}

.intro-text > :not(:first-child) {
  font-size: 1.3em;
}

.intro-text-date {
  padding-top: 2vh;
  line-height: 100%;
}

.intro-text-location {
  line-height: 100%;
}

.s2 {
  margin-top: -.5rem;
}

.s2-absolute {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #040e1a;
  margin-right: auto;
  margin-left: auto;
  z-index: 500;
}

@media (min-width: 768px) {
  .s2-absolute {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .s2-absolute {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .s2-absolute {
    width: 1170px;
  }
}

.s2-con {
  position: relative;
  width: 100%;
  padding: 25vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 30vh !important;
}

@media (max-aspect-ratio: 7 / 8) {
  .s2-con {
    padding: 10vh 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.s2-con-text {
  color: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-aspect-ratio: 7 / 8) {
  .s2-con-text {
    padding: 2rem;
    border-radius: 10px;
    background-color: #09253c;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto 0;
    margin-right: 10px;
  }
}

.s2-con-text__title {
  font-size: 2.5em;
  line-height: 90%;
  font-family: 'Oswald';
  padding-bottom: 10px;
}

.s2-con-text__body {
  font-size: 1.2em;
  font-family: 'Palanquin';
  line-height: 110%;
  font-weight: 100;
  letter-spacing: .02em;
}

.s2-con-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s2-con-image__cn {
  margin: auto;
  width: 100%;
}

.s3-background {
  z-index: unset;
}

.s3-cavern-i {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100vh;
}

.s3-cavern-i1 {
  z-index: 0;
}

.s3-cavern-i2 {
  z-index: 10;
}

.s3-cavern-i3 {
  z-index: 30;
}

.s3-cavern-text {
  z-index: 20;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: position .1s;
  transition: position .1s;
  color: white;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  font-size: 1rem;
}

.s3-cavern-text-con {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

@media (max-aspect-ratio: 1 / 3) {
  .s3-cavern-text {
    width: 90%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .s3-cavern-text {
    width: 80%;
  }
}

@media (max-aspect-ratio: 3 / 3) {
  .s3-cavern-text {
    width: 70%;
  }
}

@media (max-aspect-ratio: 4 / 3) {
  .s3-cavern-text {
    width: 60%;
  }
}

.s3-cavern-text__title {
  font-size: 2.5em;
  line-height: 90%;
  font-family: 'Oswald';
  padding-bottom: 10px;
}

.s3-cavern-text__body {
  font-size: 1.2em;
  font-family: 'Palanquin';
  line-height: 110%;
  font-weight: 100;
  letter-spacing: .02em;
}

.s4-background {
  z-index: 0;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.s5 {
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
  background-color: white;
}

.s5-light {
  color: black;
  background-color: white;
}

.s5-dark {
  color: white;
  background-color: #040e1a;
}

.s5-background {
  z-index: -1;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

.s5-body {
  z-index: 15;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 35vh;
}

.s5-sponsors {
  text-align: center;
}

.s5-sponsors__h1 {
  font-size: 2.5em;
  line-height: 90%;
  font-family: 'Oswald';
  padding-bottom: 10px;
}

.s5-sponsors__body {
  font-size: 1.2em;
  font-family: 'Palanquin';
  line-height: 110%;
  font-weight: 100;
  letter-spacing: .02em;
  height: 15vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s5-FAQ {
  text-align: center;
}

.s5-FAQ__h1 {
  font-size: 2.5em;
  line-height: 90%;
  font-family: 'Oswald';
  padding-bottom: 10px;
}

.s5-FAQ__body {
  font-size: 1.2em;
  font-family: 'Palanquin';
  line-height: 110%;
  font-weight: 100;
  letter-spacing: .02em;
  height: 15vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 {
  min-height: 25vh;
}

.s6-bridge {
  border-radius: 12%;
  width: 110vw;
  position: relative;
  left: -5vw;
  height: 25vh;
  background-color: #040e1a;
}

.s6-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s6-info {
  padding-top: 2rem;
}

.s6-socials {
  color: white;
}

.s6-socials__title {
  font-size: 1.75rem;
  line-height: 90%;
  font-family: 'Oswald';
  padding-bottom: 10px;
}

.s6-socials__soc {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
}

.s6-socials__soc > li {
  display: inline;
}

.s6-socials__soc > li > a {
  color: inherit;
}

.s6-img-con {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 98%;
  left: 50%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .s6-img-con {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .s6-img-con {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .s6-img-con {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .s6-img-con {
    height: 35vh;
  }
}

.s6-img-con__img {
  height: 100%;
}

@media (min-width: 768px) {
  .s6-img-con__img {
    height: auto;
    width: 145%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=main.css.map */