* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html,
body {
  overflow-x: hidden; }

.test {
  height: 0; }

#mainNav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  left: 0;
  transition: background .4s;
  z-index: 1000; }
  #mainNav > div {
    padding: 0; }
  #mainNav .logo-img {
    height: 10vh;
    margin: 1vh 0;
    transition: height 0.4s; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 723px; } }
  @media (min-width: 992px) {
    .container {
      width: 933px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1127px; } }

.intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  padding-top: 10vh; }
  .intro-img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 180%;
    height: auto; }
    @media (min-width: 600px) {
      .intro-img {
        height: 150%;
        width: auto;
        bottom: 0; } }
    .intro-img-background {
      z-index: 0; }
    .intro-img-1 {
      z-index: 5;
      transform: translateX(-60%); }
    .intro-img-2 {
      z-index: 10; }
    .intro-img-3 {
      z-index: 15; }
    .intro-img-glare {
      z-index: 6; }

.body {
  background-color: orange;
  width: 100vw;
  height: fit-content; }
  .body-child {
    min-height: 100vh;
    background-color: purple; }

.section {
  width: 100%;
  margin: 0 auto;
  height: 100vh; }
  @media (min-width: 768px) {
    .section {
      width: 723px; } }
  @media (min-width: 992px) {
    .section {
      width: 933px; } }
  @media (min-width: 1200px) {
    .section {
      width: 1127px; } }

.sec-1 {
  position: relative;
  background-color: orange; }

.sec-2 {
  background-color: red; }

.sec-3 {
  background-color: blue; }

.sec-4 {
  background-color: green; }

.sec-5 {
  background-color: teal; }

.sec-6 {
  background-color: salmon; }

.sec-7 {
  background-color: saddlebrown; }

html,
body {
  overflow-x: hidden; }

body {
  position: relative; }
