* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html,
body {
  overflow-x: hidden; }

.test {
  height: 0; }

#mainNav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  left: 0;
  transition: background .4s;
  z-index: 1000; }
  #mainNav > div {
    padding: 0; }
  #mainNav .logo-img {
    height: 10vh;
    margin: 1vh 0;
    transition: height 0.4s; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 723px; } }
  @media (min-width: 992px) {
    .container {
      width: 933px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1127px; } }

.intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  padding-top: 10vh; }
  .intro-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    .intro-bg-1 {
      background-image: radial-gradient(ellipse at bottom center, #072654, #010e1b); }
    .intro-bg-2 {
      background-image: radial-gradient(ellipse at bottom center, #05e3e215, transparent); }
  .intro-img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 180%;
    height: auto; }
    @media (min-width: 600px) {
      .intro-img {
        height: 150%;
        width: auto;
        bottom: 0; } }
    .intro-img-background {
      z-index: 0; }
    .intro-img-1 {
      z-index: 5;
      transform: translateX(-60%); }
    .intro-img-2 {
      z-index: 10; }
    .intro-img-3 {
      z-index: 15; }
    .intro-img-glare {
      z-index: 6; }

.body {
  width: 100vw; }

.sec-light {
  color: #010e1b;
  background-color: #fff; }

.section {
  min-height: 100vh;
  position: relative;
  color: #fff;
  transition: background .3s; }
  .section-body {
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .section-body {
        width: 723px; } }
    @media (min-width: 992px) {
      .section-body {
        width: 933px; } }
    @media (min-width: 1200px) {
      .section-body {
        width: 1127px; } }
  .section-background {
    background-color: #010e1b;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -200; }

.sec-1 {
  background-color: orange; }

.sec-3-rough {
  width: 100vw;
  height: 100vh; }

.sec-5-body {
  padding: 15rem 0;
  font-size: 2rem;
  height: fit-content; }

.sec-5-background {
  background-color: #010e1b; }

.sec-7 {
  height: 50vh; }

html,
body {
  overflow-x: hidden; }

body {
  position: relative; }
