@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("//db.onlinewebfonts.com/c/dda013312f72e26a4bcc7df56fb8ce29?family=Quatro+Sans");
a {
  color: inherit; }
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none; }

.container {
  padding: 0;
  width: 100%; }
  @media (min-width: 1150px) {
    .container {
      width: 1130px; } }
  @media (min-width: 1300px) {
    .container {
      width: 1270px; } }
  @media (min-width: 1400px) {
    .container {
      width: 1370px; } }
  @media (min-width: 1600px) {
    .container {
      width: 1570px; } }

html {
  font-size: 7.5px; }
  @media (min-width: 750px) {
    html {
      font-size: 10px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 12.5px; } }

/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
.header {
  width: 100vw;
  z-index: 500;
  background-color: #001e44;
  color: white;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0; }
  .header .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center; }

.head a {
  color: white; }

.head-logo {
  font-size: 3rem;
  display: inline-block;
  margin: auto 0; }
  .head-logo-con {
    display: flex;
    flex-direction: row; }
  .head-logo-2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-family: "Quatro sans";
    letter-spacing: .25rem;
    margin: auto auto;
    text-align: center; }
    .head-logo-2-two {
      position: relative; }
  .head-logo-son {
    height: 3rem; }
  .head-logo-text {
    text-transform: uppercase; }

.head-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.head-ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;
  height: 100%;
  align-content: center; }
  .head-ul-li {
    display: inline-block;
    margin: auto 1rem;
    text-align: center;
    text-transform: uppercase; }
  .head-ul-a:active {
    color: inherit;
    text-decoration: none; }

* {
  padding: 0;
  border: 0;
  margin: 0; }

.container {
  position: relative; }

html,
body {
  overflow-x: none;
  background-color: #072654;
  color: white;
  z-index: -1000; }

.layout {
  margin-top: 5rem;
  font-family: 'Montserrat';
  position: relative; }
  .layout-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 5rem);
    width: 100%; }

.s1 {
  display: block;
  position: relative;
  text-align: center; }
  .s1-info {
    position: absolute;
    top: 2rem;
    z-index: 300;
    left: 2rem; }
    .s1-info-title {
      line-height: 1em;
      font-family: "Quatro sans";
      font-size: 7rem;
      text-transform: uppercase;
      display: block; }
    .s1-info-date {
      line-height: 1em;
      font-size: 3rem;
      display: block; }
    .s1-info-place {
      line-height: 1em;
      font-size: 3rem;
      display: block; }
  .s1-slogan {
    text-transform: uppercase;
    position: absolute;
    z-index: 300;
    bottom: 1rem;
    left: 0;
    width: 100%;
    font-size: 3rem; }

.s2 {
  background-color: #2897ed; }
  .s2__con {
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    height: 25rem;
    min-height: fit-content;
    width: 80%;
    color: white; }
    .s2__con-text {
      padding: 0.25rem;
      flex: 1 0 250px; }
      .s2__con-text--title {
        width: 80%;
        font-size: 3rem;
        line-height: 1em;
        display: block;
        text-transform: uppercase; }
      .s2__con-text--body {
        font-size: 1.75rem;
        text-align: justify;
        line-height: 1em;
        display: block; }
    .s2__con-gallery {
      background-image: url("images/thumbnail.png");
      flex: 1 0 250px;
      min-height: 100%; }

.s3 {
  width: 100%;
  background-color: white;
  color: black; }
  .s3__con {
    padding-bottom: 1rem;
    display: inline-block;
    width: 80%; }
    .s3__con-title {
      text-transform: uppercase;
      font-size: 3rem;
      display: block; }
    .s3__con-body {
      width: 70%;
      margin: 0 auto;
      display: block; }

.s4 {
  background-color: white; }
  .s4__con {
    background-color: #1235;
    width: 70%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1); }

.s5 {
  background-color: white; }
  .s5__con {
    background-color: rgba(0, 0, 0, 0.1);
    width: 70%;
    padding: 2rem; }
    .s5__con-title {
      text-align: center;
      display: block;
      font-size: 3rem; }
    .s5__con-list {
      padding: 0 10rem;
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .s5__con-list--item {
        height: fit-content;
        display: block;
        margin: auto 2rem; }
      .s5__con-list--img {
        object-fit: contain; }
      .s5__con-list .sponsor-bg {
        max-height: 7rem; }
      .s5__con-list .sponsor-md {
        max-height: 4rem; }
      .s5__con-list .sponsor-sm {
        max-height: 2em; }

.s6 {
  background-color: white; }

.s7 {
  background-color: white; }

/**/
.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .info--sec {
    min-height: 80px;
    width: 25vw;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: 1px solid #bbb;
    margin: 20px; }
    .info--sec > i {
      font-size: 2rem;
      height: 50px;
      margin: auto;
      display: inline-block; }

.footer {
  background-color: #001e44; }

.foot-ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 18rem;
  margin: 0 auto;
  margin-top: 1rem;
  justify-content: space-around; }
  .foot-ul-li {
    font-size: 3.5rem; }

.foot-a {
  color: #eee; }
  .foot-a:active {
    text-decoration: none;
    color: inherit; }
  .foot-a:hover, .foot-a:focus {
    color: inherit;
    opacity: 0.6;
    outline: none; }

.foot-text {
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'Montserrat'; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0; }
  .bg-image {
    object-fit: cover;
    height: 100%;
    width: 100%; }

#snowflakeContainer {
  transform: translateX(-50%);
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 200%;
  position: absolute; }

.snowflake {
  position: absolute;
  background-color: #ccc;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px; }
