@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("//db.onlinewebfonts.com/c/dda013312f72e26a4bcc7df56fb8ce29?family=Quatro+Sans");
a {
  color: inherit; }
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none; }

.header {
  width: 100vw;
  z-index: 500;
  background-color: #7c7c7c;
  color: white;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0; }
  .header .container {
    position: relative;
    height: 100%; }

.head a {
  color: white; }

.head-logo {
  font-size: 3rem;
  display: inline-block; }
  .head-logo-son {
    height: 3rem; }
  .head-logo-text {
    text-transform: uppercase; }

.head-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.head-ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;
  height: 100%;
  align-content: center; }
  .head-ul-li {
    display: inline-block;
    margin: auto 1rem;
    text-align: center;
    text-transform: uppercase; }
  .head-ul-a:active {
    color: inherit;
    text-decoration: none; }

* {
  padding: 0;
  border: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.container {
  position: relative; }

html,
body {
  overflow-x: none; }

.layout {
  margin-top: 5rem;
  font-family: 'Montserrat';
  position: relative; }
  .layout-sec {
    position: relative;
    height: calc(100vh - 5rem);
    width: 100%; }

.s1 {
  position: relative;
  color: white;
  text-align: center; }
  .s1-info {
    position: absolute;
    top: 2rem;
    z-index: 300;
    left: 2rem; }
    .s1-info-title {
      line-height: 1em;
      font-family: "Quatro sans";
      font-size: 7rem;
      text-transform: uppercase;
      display: block; }
    .s1-info-date {
      line-height: 1em;
      font-size: 3rem;
      display: block; }
    .s1-info-place {
      line-height: 1em;
      font-size: 3rem;
      display: block; }
  .s1-slogan {
    text-transform: uppercase;
    position: absolute;
    z-index: 300;
    bottom: 1rem;
    left: 0;
    width: 100%;
    font-size: 3rem; }

.s2 {
  background-color: #123;
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center; }
  .s2__con {
    z-index: 10;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 25rem;
    min-height: fit-content;
    color: white;
    background-color: orange;
    width: 80%; }
    .s2__con-text {
      flex: 1;
      background-color: purple;
      padding: 0.25rem; }
      .s2__con-text--title {
        width: 80%;
        font-size: 3rem;
        line-height: 1em;
        display: block;
        text-transform: uppercase; }
      .s2__con-text--body {
        text-align: justify;
        line-height: 1em;
        display: block; }
    .s2__con-gallery {
      background-color: grey;
      background-image: url("images/thumbnail.png");
      flex: 1.25; }
  .s2-closer {
    width: 50vw;
    height: calc(100% + 200vh);
    background-color: #52adf3;
    position: absolute;
    z-index: 0;
    bottom: 0;
    transform-origin: right bottom; }
    .s2-closer-R {
      left: 50%;
      transform-origin: left bottom;
      transform: rotate(25deg); }
    .s2-closer-L {
      right: 50%;
      transform: rotate(-25deg); }

.s3 {
  background-color: #345;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .s3__con {
    background-color: red;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
    display: inline-block;
    width: 80%; }
    .s3__con-title {
      text-transform: uppercase;
      font-size: 3rem;
      display: block; }
    .s3__con-body {
      width: 70%;
      margin: 0 auto;
      display: block; }

.s4 {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center; }
  .s4__con {
    background-color: #1235;
    width: 70%;
    text-align: center;
    color: white; }

.s5 {
  background-color: #574774;
  display: flex;
  align-items: center;
  justify-content: center; }
  .s5__con {
    background-color: red;
    width: 70%;
    padding: 2rem; }
    .s5__con-title {
      text-align: center;
      display: block;
      color: white;
      font-size: 3rem; }
    .s5__con-list {
      padding: 0 10rem;
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .s5__con-list--item {
        height: fit-content;
        display: block;
        margin: auto 2rem; }
      .s5__con-list--img {
        object-fit: contain; }
      .s5__con-list .sponsor-bg {
        max-height: 7rem; }
      .s5__con-list .sponsor-md {
        max-height: 4rem; }
      .s5__con-list .sponsor-sm {
        max-height: 2em; }

.s6 {
  background-color: #123; }

.s7 {
  background-color: aquamarine; }

/**/
.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .info--sec {
    min-height: 80px;
    width: 25vw;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: 1px solid #bbb;
    margin: 20px; }
    .info--sec > i {
      font-size: 2rem;
      height: 50px;
      margin: auto;
      display: inline-block; }

.footer {
  background-color: #7c7c7c; }

.foot-ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 18rem;
  margin: 0 auto;
  margin-top: 1rem;
  justify-content: space-around; }
  .foot-ul-li {
    font-size: 3.5rem; }

.foot-a {
  color: #eee; }
  .foot-a:active {
    text-decoration: none;
    color: inherit; }
  .foot-a:hover, .foot-a:focus {
    color: inherit;
    opacity: 0.6;
    outline: none; }

.foot-text {
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'Montserrat'; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-image {
    object-fit: cover;
    height: 100%;
    width: 100%; }
