.header {
	padding-top: 5vh;
	width: 100vw;
	@include container-mixin;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 11vh;
	z-index: 1000;
	transition: height .5s;
	display: flex;
	flex-direction: row;
	&-L {
		margin-left: 1vw;
		float: left;
		height: 100%;
		flex: 0;
	}
	&-R {
		margin-right: 1vw;
		flex: 1;
		float: right;
		color: white;
		height: 100%;
	}
}
.header-scrolled.header {
	height: 12vh;
}
.h {
	&-logo {
		height: 100%;
		width: fit-content;
		box-sizing: border-box;
		display: flex;
		padding: 10px;
		flex-direction: row;
		&-title {
			opacity: 0;
			transition: opacity 1s;
			background-image: url("/media/ff.png");
			background-position: center; /* Center the image */
			background-repeat: no-repeat; /* Do not repeat the image */
			background-size: cover; /* Resize the background image to cover the entire container */
			box-shadow: 0 8px 6px -6px black;
		}
		& img {
			height: 100%;
			box-sizing: border-box;
		}
	}
	&-nav {
		height: 100%;
		width: stretch;
		display: flex;
		justify-content: center;
		color: white;
		transition: color .5s, text-shadow .5s;
		align-items: flex-end;
		&-ul {
			@media (max-width: 950px) {
				display: none;
			}
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			justify-content: flex-end;
			color: inherit;
			align-items: center;
			&__li {
				&#contact {
					border: #fff 1px solid;
					border-radius: 5px;
					line-height: 100%;
					padding: 5px;
					&:hover {
						border-style: dotted;
						border-color: black;
						background-color: white;
						color: black;
						text-shadow: #fff 3px 3px 4px;
						box-shadow: 0 0 0 -6px #fff;
					}
				}
				font-size: 1.5rem;
				@media screen and (min-width: 900px) {
					font-size: 1.5rem;
				}

				@media screen and (min-width: 1200px) {
					font-size: 1.5rem;
				}
				color: inherit;
				text-decoration: none;
				margin-right: 15px;
				font-family: 'Palanquin';
				text-shadow: #000 3px 3px 4px;
				box-shadow: 0 0 0 -6px black;
				& > a {
					color: inherit;
					text-decoration: none;

					&:active,
					&:hover,
					&:visited {
						text-decoration: none;
						color: inherit;
					}
				}
			}
		}
	}
}

.header-scrolled > .header-L > .h {
	&-logo {
		& > .h-logo-title {
			opacity: 1;
		}
	}
}

@media (max-width: 1200px) {
	#about {
		display: none;
	}
}

.dark {
	& > .header-R > .h-nav {
		color: black;
		& > ul {
			& > li {
				text-shadow: #fff 3px 3px 4px;
				box-shadow: 0 0 0 -6px #fff;
				&#contact {
					border-color: black;
					&:hover {
						border-style: dotted;
						border-color: white;
						background-color: black;
						color: white;
						text-shadow: #000 3px 3px 4px;
						box-shadow: 0 0 0 -6px #000;
					}
				}
			}
		}
	}
}
