.s5 {
	transition: background-color .5s, color .5s;
	background-color: white;
	&-light {
		color: black;
		background-color: white;
	}
	&-dark {
		color: white;
		background-color: $color-bg;
	}
	&-background {
		z-index: -1;
		transition: background-color .5s, color .5s;
	}
	&-body {
		z-index: 15;
		transition: background-color .5s, color .5s;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 20vh;
		padding-bottom: 35vh;
	}

	&-sponsors {
		text-align: center;
		&__h1 {
			font-size: 2.5em;
			line-height: 90%;
			font-family: 'Oswald';
			padding-bottom: 10px;
		}
		&__body {
			font-size: 1.2em;
			font-family: 'Palanquin';
			line-height: 110%;
			font-weight: 100;
			letter-spacing: .02em;
			// Delete when yyou get sponsors
			height: 15vh;
			justify-content: center;
			display: flex;
			align-items: center;
		}
	}

	&-FAQ {
		text-align: center;
		&__h1 {
			font-size: 2.5em;
			line-height: 90%;
			font-family: 'Oswald';
			padding-bottom: 10px;
		}
		&__body {
			font-size: 1.2em;
			font-family: 'Palanquin';
			line-height: 110%;
			font-weight: 100;
			letter-spacing: .02em;
			// Delete when yyou get sponsors
			height: 15vh;
			justify-content: center;
			display: flex;
			align-items: center;
		}
	}
}
