@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");
.test {
  height: 0;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

html,
body {
  overflow-x: hidden;
}

#height,
#width {
  color: red;
  position: fixed;
  top: 200px;
  font-size: 1rem;
  left: 200px;
  z-index: 1000;
}

#width {
  left: 300px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 723px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 933px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1127px;
  }
}

#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  padding-top: .5rem;
  left: 0;
  -webkit-transition: background .4s;
  transition: background .4s;
  z-index: 1000;
}

#mainNav > div {
  padding: 0;
}

#mainNav .logo {
  float: left;
}

#mainNav .logo-img {
  height: 10vh;
  margin: 1vh 1rem;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.head {
  float: right;
  height: 100%;
}

.head-list {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .head-list {
    display: none;
  }
}

.head-item {
  margin: auto 0;
  display: inline-block;
}

.head-item-tag {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  margin-right: 20px;
  font-family: 'Raleway';
  text-decoration: none;
}

.head-item-tag:hover, .head-item-tag:visited {
  color: inherit;
  text-decoration: none;
}

#head-contact {
  border: .1rem solid #fff;
  padding: .2rem;
  border-radius: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  display: inline-block;
}

.head-sm {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  float: right;
}

@media (min-width: 800px) {
  .head-sm {
    display: none;
  }
}

.ham {
  margin-right: 1.6rem;
}

.ham-icon {
  height: 3rem;
  width: 3rem;
  background-color: orange;
  display: block;
}

.s2-body {
  min-height: 30px;
  max-height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s2-body__text {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

.s2-body__text-title {
  opacity: 0;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 2rem;
}

.s2-body__text-body {
  opacity: 0;
  font-family: "Montserrat";
}

.s2-body__img {
  position: relative;
  height: 100%;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.s2-body__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.s2anim-body__text-title {
  opacity: 1;
  -webkit-animation: lightSpeedIn .5s linear;
          animation: lightSpeedIn .5s linear;
}

.s2anim-body__text-body {
  opacity: 1;
  -webkit-animation: flipInY .75s linear;
          animation: flipInY .75s linear;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

.intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 100%;
  padding-top: 10vh;
}

.intro-bg-1 {
  background-image: radial-gradient(ellipse at bottom center, #072654, #030d19);
}

.intro-bg-2 {
  background-image: radial-gradient(ellipse at bottom center, #05e3e230, transparent);
}

.intro-img {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 180%;
  height: auto;
}

@media (min-aspect-ratio: 1 / 1) {
  .intro-img {
    height: 150%;
    width: auto;
    bottom: 0;
  }
}

.intro-img-background {
  z-index: 0;
}

.intro-img-1 {
  z-index: 5;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.intro-img-2 {
  z-index: 25;
}

.intro-img-3 {
  z-index: 10;
}

.intro-img-glare {
  z-index: 27;
}

.sec-1-buffer {
  z-index: 1000;
  width: 100.3vw;
  height: 10.4vh;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: -3px;
  background-color: #030d19;
}

@media (min-aspect-ratio: 1 / 1) {
  .sec-1-buffer {
    display: none;
  }
}

.sec-1-text {
  position: fixed;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  right: 50%;
  text-align: center;
  z-index: 12;
  width: 100%;
  top: 20vh;
}

.sec-1-text > div {
  line-height: 100%;
}

.sec-1-text__title {
  font-family: "Raleway";
  font-weight: 900;
  word-spacing: .5rem;
  letter-spacing: .4rem;
  font-size: 5rem;
  width: auto;
}

.sec-1-text__date, .sec-1-text__loc {
  font-size: 2rem;
  font-weight: 100;
  font-family: "Montserrat";
}

.s3-li {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.s3-l1 {
  z-index: 30;
}

.s3-l2 {
  z-index: 10;
}

.s3-title {
  top: 20vh;
  left: 10vw;
  width: 80vw;
  position: fixed;
}

.s3-title-text {
  font-family: "Raleway";
  font-size: 5rem;
  line-height: 100%;
  font-weight: 900;
  word-spacing: .5rem;
  letter-spacing: .4rem;
  text-align: center;
}

.footer-trans {
  width: 150vw;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.body {
  width: 100vw;
}

.sec-light {
  color: #010e1b;
  background-color: #fff;
}

.section {
  min-height: 100vh;
  position: relative;
  color: #fff;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.section-body {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section-body {
    width: 723px;
  }
}

@media (min-width: 992px) {
  .section-body {
    width: 933px;
  }
}

@media (min-width: 1200px) {
  .section-body {
    width: 1127px;
  }
}

.section-background {
  background-color: #030d19;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -200;
}

.sec-1 {
  z-index: 1;
}

.sec-2 {
  z-index: 100;
  position: relative;
}

.sec-2-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sec-2-body {
    width: 723px;
  }
}

@media (min-width: 992px) {
  .sec-2-body {
    width: 933px;
  }
}

@media (min-width: 1200px) {
  .sec-2-body {
    width: 1127px;
  }
}

.sec-3 {
  z-index: 3;
}

.sec-3-rough {
  width: 100vw;
  height: 100vh;
}

.sec-4 {
  z-index: 4;
}

.sec-5 {
  z-index: 5;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.sec-5-body {
  padding: 15rem 0;
  font-size: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-5-background {
  background-color: #010e1b;
  -webkit-transition: background .25s;
  transition: background .25s;
}

.sec-6 {
  z-index: 6;
  padding-bottom: 33.84vw;
}

.sec-6-background {
  background-color: #fff;
}

.sec-7 {
  z-index: 7;
  height: 50vh;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}
/*# sourceMappingURL=main.css.map */