* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
html,
body {
	overflow-x: hidden;
}
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/fonts";

@import "components/header";
@import "components/container";
@import "sections/section-one.scss";
@import "sections/overall";
