$header-height: 5rem;

$blue: #52adf3;
$grey: #afafaf;

$heading_size: 3rem;

$color-med: #57aef1;
$color-dark: #001e44;
$color-less-dark: #072654;
$color-light: #00fefe;

//footer header
$dark-back: $color-dark;
