.intro {
	position: absolute;
	height: 150vh;
	width: unset;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	@media (max-aspect-ratio: 10/8) {
		left: 40%;
	}
	@media (max-aspect-ratio: 8/8) {
		height: unset;
		width: 300vw;
		left: 30%;
	}
	@media (max-aspect-ratio: 6/8) {
		left: 15%;
		width: 400vw;
	}
	@media (max-aspect-ratio: 4/8) {
		left: 0%;
		width: 500vw;
	}
	background-repeat: no-repeat;
	&-1.intro {
		width: 100vw;
		height: 100vh;
		left: 50%;
		background-image: radial-gradient(ellipse at bottom center, #072654, $color-bg);
	}
	&-2 {
	}
	&-3.intro {
		width: 100vw;
		height: 100vh;
		left: 50%;
		background-image: radial-gradient(ellipse at bottom center, #05e3e230, transparent);
	}
	&-4 {
	}
	&-5 {
	}

	// Text showing inbeween layers
	&-text {
		position: fixed;
		text-align: center;
		top: 30vh;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1rem;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		@media (max-aspect-ratio: 8/8) {
			top: 18vh;
		}
		@media (max-aspect-ratio: 6/8) {
		}
		@media (max-aspect-ratio: 4/8) {
		}
		font-family: 'Comfortaa';
		&-h1 {
			text-transform: uppercase;
			font-size: 8em;
			line-height: 100%;
			font-family: 'Oswald';
			letter-spacing: .3rem;
			font-weight: 300;
			width: 80vw;
			@media (max-aspect-ratio: 1/1) {
				width: 35rem;
			}
		}
		& > :not(:first-child) {
			font-size: 1.3em;
		}
		&-date {
			padding-top: 2vh;
			line-height: 100%;
		}
		&-location {
			line-height: 100%;
		}
	}
}
